
<nav class="navbar navbar-expand navbar-light bg-info d-flex justify-content-between ">
    <div class=" nav navbar-nav">
        <%= link_to "Home", root_path, class: "nav-item nav-link" %>
        <%= link_to "Events", events_path, class: "nav-item nav-link" %>
        <%= link_to "Users",show_users_path, class: "nav-item nav-link" %>
       
    </div>

    <div class=" nav navbar-nav">
     
       <%= link_to "Sign up", signup_path,class: "nav-item nav-link" %>
        <%= link_to "Log in", login_path, class: "nav-item nav-link"  %> 
    </div>
   
    
</nav>