<div class="container text-white bg-dark p-4 mt-4 shadow-lg rounded">
<h1>Create a new event</h1>
<%= bootstrap_form_for(@event, inline_errors: true, url: events_new_path) do |f| %>
  <%= f.text_field :title %>
   <%= f.text_field :location %>
    <%= f.text_field :description %>
     <%= f.date_field :date %>
  <%= f.submit "Create event", class: "btn btn-warning" %>
<% end %>

</div>
