<h2>Event <%= @event.title %></h2>
<p>Created by :  <%= @event.creator.username %></p>
<p>Location: <%= event.location %></p>
<p> When: <%= event.date %></p>

<h3>Who is going?</h3>
<ul>
<% @event.attendees.username do |u| %>
    <li><%= u.username %> </li>
<% end %>
</ul>